    .idea
.venv
framework.jar
framework
framework_decompile
venv
/.env
/bot/digest.txt
/bot/FrameworkPatcherBot.session
/send_telegram.sh
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/FrameworkPatcherV2.iml
/.idea/*